.card-container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
    width: 50%;
    height: 250px;
    padding: 8px;
}

.card-title {
    text-align: center;
}

.input-column {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    height: 200px;
}