.grades-container {
    display: flex
}

hr {
    margin-left: 0;
    width: 40%;
    justify-self: left;
}

.assignment-names {
    justify-self: left;
}

.assignment-grades {
    justify-self: right;
}