.box-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classes-box{
    border: solid;
    border-color: black;
    width: 40%;
    height: 50%;
}

.no-classes-box {
    border: solid;
    border-color: black;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: red;
}

.class-circle-container {
    display: flex; 
    justify-content: space-between;
    padding: 10px;
}

.class-circle {
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    height: 20%;
}

.start-join-button {
    background-color: green;
    border-radius: 20px;
    color: white;
}