.logo {
    text-align: center;
    color: red
}

.bckg {
    height: 100vh; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background: rgb(0, 0, 0, .5)
}